@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
  .menu-style {
    @apply text-6xl font-extrabold text-[#292929] md:text-8xl hover:text-white transition duration-700 ease-in-out cursor-pointer;
  }

  .text-design {
    @apply bg-gradient-to-b from-black from-55% to-[#B372CF] text-transparent bg-clip-text;
  }

  .about-tag {
    @apply flex items-center justify-center rounded-lg  px-4 py-3 text-base text-center text-black ;
  }
}

.hero-title {
  clip-path: polygon(0 100%, 100% 100%, 100% 100%, 0% 100%);
  opacity: 0;
  transform: translateY(100px);
}

.watch,
.donut {
  clip-path: polygon(100% 100%, 100% 100%, 100% 0%, 100% 0%);
  opacity: 0;
}

.watch,
.donut {
  transform: translateX(100px);
}

.cone,
.about-tag {
  clip-path: polygon(0 100%, 0 100%, 0 0, 0 0);
  opacity: 0;
}

.cone,
.about-tag {
  transform: translateX(-100px);
}

