@tailwind base;
@tailwind components;
@tailwind utilities;

/* @import url('https://fonts.googleapis.com/css2?family=Manrope:wght@200..800&display=swap');

body{
  font-family: "Manrope", sans-serif;
} */

@layer components {
  .menu-style {
    @apply text-6xl font-extrabold text-[#292929] md:text-8xl hover:text-white transition duration-700 ease-in-out cursor-pointer;
  }

  .text-design {
    @apply bg-gradient-to-b from-black from-55% to-[#B372CF] text-transparent bg-clip-text;
  }

  .about-tag {
    @apply flex items-center justify-center rounded-lg  px-4 py-3 text-base text-center text-black;
  }

  .about-header {
    @apply text-[#CCCCCC] text-[68px] md:text-[88px] font-black;
  }

  .about-section-header {
    @apply text-[40px] font-black opacity-80;
  }

  .about-text {
    @apply text-black text-opacity-80 mt-10 leading-loose;
  }
}

.footer-top {
  border-top: 2px solid #828282;
}

.color-update {
  color: white;
}
